[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "elisr"]
	path = elisr
	url = https://github.com/sbissantz/elisr
	shallow = true
	registered = true
